.container {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

input {
  width: 100%;
  height: 28px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
    /* border-bottom: 1px solid rgba(215, 17, 17, 0.1); light line */

}
th {
  font-weight: 500;
  
}